* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica serif;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: Merriweather-Regular;
  src: url("../fonts/Merriweather-Regular.woff");
}

@font-face {
  font-family: Merriweather-Bold;
  src: url("../fonts/Merriweather-Bold.woff");
}

@mixin coverAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

@mixin mobile() {
  @media screen and (max-width: 800px) {
    @content;
  }
}

$color_green: #d7db2d;
$color_red: #eb5b27;
$color_white: #f2f2f2;

h1,
h2,
h3,
h4,
h5 {
  font-family: Merriweather-Bold;
}

html {
  width: 100vw;
  overflow-x: hidden;
  background: #f2f2f2;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mt-05 {
  margin-top: 0.5em;
  &.important {
    margin-top: 0.5em !important;
  }
}

.button {
  border: 2px solid black;
  padding: 10px;
  background: none;
  display: block;
  text-transform: uppercase;
  max-width: 200px;
  margin: 1em 0;
  cursor: pointer;
  font-family: Helvetica;
  transition: 0.2s ease-in;

  &.disabled {
    background: #00000042;
    color: white;
    cursor: not-allowed;

    &:hover {
      background: #00000042;
    }
  }

  &:hover {
    background: #3a3a3a;
    color: white;
  }
}

header,
footer {
  min-height: 30px;
  font-weight: bold;
  background: $color_green;
  p {
    padding: 22px;
  }
}

.hero {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    @include coverAbsolute();
    content: "";
    display: block;
    background: rgba(1, 1, 1, 0.3);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  svg {
    z-index: 1;
    width: 40vw;
  }
}

.listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 55px;
  text-align: center;

  article {
    border-top: 1px solid black;
    padding: 2em 0 4em 0;
    h2 {
      margin-bottom: 1em;
    }
    label {
      font-family: Merriweather-Bold;
      display: block;
    }

    .button {
      margin: 1em auto;
    }
    .excerpt {
      margin-top: 1em;
    }
  }

  @include mobile() {
    grid-template-columns: 1fr;
  }
}

.pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: calc(100vh - 93px);
}

.single-post {
  .postSingleHero {
    max-width: 1200px;
    margin: 0 auto;
    svg {
      width: 30vw;
      margin: 55px;
    }
  }

  .post_container {
    display: flex;
    gap: 1em;
    max-width: 1200px;
    margin: 0 auto;
    .post_author {
      width: 30vw;
      border-top: 1px solid black;
      margin: 1em 22px 0 55px;
      text-align: center;

      label {
        display: block;
        font-weight: bold;
        margin-top: 2em;
      }

      p {
        margin-top: 5px;
      }

      .profile_pic {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 0;

        object-fit: cover;
        border-radius: 50%;
        display: block;
      }
    }

    .post {
      border-top: 1px solid black;
      width: 70vw;
      margin: 1em 22px 0 55px;
      padding-top: 2em;

      .button {
        margin: 2em 0;

        padding: 20px 30px;
        text-align: center;
      }

      > h1 {
        margin-bottom: 1em;
        font-size: 40px;
      }
    }
  }

  @include mobile() {
    .postSingleHero {
      svg {
        width: 65%;
        margin: 22px;
        margin-top: 44px;
      }
    }
    .post_container {
      flex-direction: column;

      .post_author {
        margin: 0 auto;
        width: calc(100% - 44px);
        padding: 0;
        order: 1;
        margin-bottom: 2em;
      }

      .post {
        margin: 22px;
        width: calc(100% - 44px);
      }
    }
  }
}
